.header {
  width: 100%;
  background: #111;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.logoYellow {
  color: #EFB506;
}

.logoGreen {
  color: #00B600;
  margin-left: 4px;
}

.navLinks {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 650px; 
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.12rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 100%;
  height: 2px;
  background: #EFB506;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navLink:hover,
.activeLink {
  color: #EFB506;
  transform: scale(1.05); 
}

.navLink:hover::after,
.activeLink::after {
  transform: scaleX(1);
}

.logoutBtn {
 
  background: #444;
  color: #fff;
  font-size: 1rem;
  padding: 8px 18px;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.logoutBtn:hover {
  background: #EFB506;
  color: #111;
  transform: scale(1.05);
}

.logoutIcon {
  font-size: 1.2rem;
}
