.summaryControlsContainer{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 100px; 
    margin-bottom: 20px; 
}

.viewModeToggle {
    display: flex;
    border-radius: 6px;
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.toggleBtn {
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #444; 
    color: #ccc; 
}

.toggleBtn:hover:not(.activeToggle) {
    background-color: #555;
}

.activeToggle {
    background-color: #EFB506; 
    color: #111; 
}

.downloadPDFBtn {
    background-color: #00B600; 
    color: #fff;
    font-size: 1rem;
    padding: 8px 18px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 45px;
}

.downloadPDFBtn:hover {
    background: #125607; 
    transform: scale(1.05);
}

.downloadIcon {
    font-size: 1.2rem;
}

.summaryHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}

.summaryTitleBlock {
    padding-left: 40px; 
}

.summaryTitle {
    margin-bottom: 1px ;
    margin-top: 15px ;
}

.summarySubtitle {
    margin-bottom: 45px ;
}

/* Content */
.summaryContent {
    padding: 0px 40px 40px 40px; 
}